.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logged-in-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2em;
    color: #333;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.login-box {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.login-title {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5em;
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
}

.google-icon {
    margin-right: 10px;
}


